<!DOCTYPE html>
<html>
<head>
  <title>Our Rails App</title>
</head>
<body>

<h1>Here's that information on the weather.</h1>

<p>The current temperature at <%= @address %> is <%= @current %>.</p>
<p>The outlook for the next hour is: <%= @hourly_outlook %></p>
<p>The outlook for the next day is: <%= @daily_outlook %></p>

</body>
</html>







